<div class="chat-main">
  <div class="user-container">
    <div class="user-small-container">
      Current online users :
    </div>
    <div class="user-small-container" *ngFor="let user of allUsers$ | async">
      {{user.username}}
    </div>
  </div>
  <div class="main-container">
    <div class="messages-container">
      <div class="message" *ngFor="let message of messages$ | async">
        {{message.author}}: {{message.content}} <div class="right">{{message.time}}</div>
      </div>
    </div>


    <div class="typing-container">
      <div class="currentlyTyping" *ngFor="let user of typingUsers$ | async">
        {{user}} is Typing
      </div>
    </div>
    <div class="input-container">
      <input
        class="message-textfield"
        (input)="didUpdateMessageTextField($event)"
      />
      <div
        class="send-message-button-container"
        (click)="didClickSendMessageButton()"
      >
        <i id="send-message-button-icon" class="las la-paper-plane"></i>
      </div>
    </div>
  </div>
</div>
